body {
  max-width: 1440px;
  margin: auto;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}
body .hidden {
  display: none !important;
}
body.body-container .content.content-block .controller {
  display: flex;
}
body.body-container .content.content-block .controller.controller-block .action {
  width: 1440px;
}
body.body-container .content.content-block .controller.controller-block .action.action-block .error {
  text-align: center;
  border: solid 6px rgba(0, 0, 0, 0.15);
}
body.body-container .content.content-block .controller.controller-block .action.action-block .error .code {
  color: #dc3545;
  font-size: 180px;
  font-weight: bold;
}
body.body-container .content.content-block .controller.controller-block .action.action-block .error .head {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fd7e14;
}
body.body-container .content.content-block .controller.controller-block .action.action-block .error .body {
  font-weight: bold;
  font-size: 25px;
  color: #6c757d;
}
body.body-container .content.content-block .controller.controller-block .action.action-block .pagination {
  width: 100%;
  margin: 1em 0;
  user-select: none;
}
body.body-container .content.content-block .controller.controller-block .action.action-block .pagination .paginate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body.body-container .content.content-block .controller.controller-block .action.action-block .pagination .paginate a:hover {
  color: #fff;
  background: #0057ae;
}
body.body-container .content.content-block .controller.controller-block .action.action-block .pagination .paginate .paginate-link {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border: solid 1px #0057ae;
  text-decoration: none;
  padding: 4px 0;
  color: #0057ae;
}
body.body-container .content.content-block .controller.controller-block .action.action-block .pagination .paginate .paginate-link.active {
  font-weight: bold;
  color: #fff;
  background: #28a745;
  border: solid 1px #28a745;
}
body.body-container .content.content-block .controller.controller-block .action .controller-content.action-content-block {
  margin: 0;
  min-height: 640px;
  border: solid 1px #ccc;
  padding: 4px 6px;
}
body .absolute {
  position: absolute;
  z-index: 1001;
}
body .title-content {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
}
