.form {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding-bottom: 1em;
}
.form .from-title {
  text-align: center;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.08);
  padding: 8px 0;
}
.form .from-description {
  margin: 1em;
  font-weight: bold;
}
.form .form-body .form-fields .field-errors {
  border: solid 1px #dc3545;
  margin: 0 1em;
}
.form .form-body .form-fields .field-errors .field-error {
  background: #dc3545;
  color: #fff;
  padding: 4px 8px;
  margin: 2px;
}
.form .form-body .form-fields fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.form .form-body .form-fields fieldset .field-set {
  margin: 0 1em;
  padding: 8px 0;
  border-bottom: solid 1px #999;
  margin-bottom: 1em;
}
.form .form-body .form-fields fieldset .field-set .form-field .field {
  padding: 0.5em 0;
}
.form .form-body .form-fields fieldset .field-set .form-field .field.submit-field {
  max-width: 300px;
  margin: auto;
  padding: 0;
}
.form .form-body .form-fields fieldset .field-set .form-field .field .input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 0.25em 0;
}
.form .form-body .form-fields fieldset .field-set .form-field .field .input.submit {
  margin: auto;
  min-width: 200px;
}
.form .form-body .form-fields fieldset .field-set .field-errors {
  border: solid 1px #dc3545;
  margin: 0;
}
.form .form-body .form-fields fieldset .field-set .field-errors .field-error {
  background: #dc3545;
  color: #fff;
  padding: 4px 8px;
  margin: 2px;
}
.form .form-body .form-fields fieldset .field-set label {
  font-weight: bold;
}
.form .form-body .form-fields fieldset .field-set small {
  font-weight: bold;
  font-size: 11px;
  color: #999;
}
.form .form-body .form-fields .input.submit {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 1em;
  min-width: 200px;
  max-width: 200px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.form .form-body .form-fields .captcha-block {
  display: flex;
  padding: 1em;
}
.form .form-body .form-fields .captcha-block .captcha-image {
  min-width: 200px;
  text-align: center;
  min-height: 100px;
}
.form .form-body .form-fields .captcha-block .captcha-image img {
  max-width: 400px;
  min-height: 100px;
}
.form .form-body .form-fields .captcha-block .field-link-block {
  margin-left: 1em;
}
.form .form-body .form-fields .captcha-block .field-link-block .field-block .captcha {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 0.25em 0;
  padding: 0 1em;
}
.form .form-body .form-fields .html-field {
  padding: 0 1em;
  position: relative;
}
.form .form-body .form-fields .html-field .content-editable-field {
  border: solid 1px #000;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  height: 100%;
  min-height: 200px;
  max-height: 300px;
  padding: 1em;
  word-break: break-all;
  display: inline-block;
  white-space: pre-wrap;
}
.form .form-body .form-fields .textarea-field {
  padding: 0 1em;
}
.form .form-body .form-fields .textarea-field textarea {
  min-height: 200px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 0.25em 0;
  padding: 1em;
}
.form .form-body .form-fields [contenteditable="true"] pre {
  margin: 0;
}
